
$color-orange: #FF7F50;  // Ładny pomarańczowy
$color-grey: #333333;    // Szara czerń

//kolory czcionek
$font-color-oran: #FF7F50;
$font-color-whit: #fff;
$font-color-black: #000;

// Rozmiary czcionek
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 24px;